<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Максим Яроцкий</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <!-- Главный блок -->
    <header id="home">
        <h1>Привет, я Максим Яроцкий</h1>
        <p>Студент 3 курса МТУСИ, увлекаюсь backend разработкой.</p>
        <nav>
            <a href="#about">Обо мне</a>
            <a href="#skills">Навыки</a>
            <a href="#projects">Проекты</a>
            <a href="#contact">Контакты</a>
        </nav>
        <button id="themeSwitcher">Сменить тему</button>
    </header>

    <!-- Обо мне -->
    <section id="about">
        <h2>Обо мне</h2>
        <p>Занимаюсь разработкой на Go и изучаю Python. Увлекаюсь веб-разработкой с использованием Django и GIN. Опыт работы с PostgreSQL, Git и использую различные методологии разработки.</p>
        <p id="moreInfo" style="display: none;">Это дополнительная информация, которая скрыта по умолчанию.</p>
        <button id="toggleMore">Показать больше</button>
    </section>


    <section id="skills">
        <h2>Навыки</h2>
        <ul>
            <li>Go, Python, Django, GIN</li>
            <li>Git, PostgreSQL</li>
            <li>Методологии разработки</li>
        </ul>
    </section>


    <section id="projects">
        <h2>Проекты</h2>
        <div class="slider">
            <img id="sliderImage" src="../static/images/project.png" alt="Проект 1">
            <button id="prevButton">Назад</button>
            <button id="nextButton">Вперед</button>
        </div>
        <p>Интернет-магазин на Django</p>
        <p>Новостной сайт с помощью DRF</p>
        <p>Todo-app на GIN</p>
    </section>


    <section id="contact">
        <h2>Контакты</h2>
        <p>Email: maksimyarotskiy08@gmail.com</p>
        <p>GitHub: <a href="https://github.com/maksimyarotskiy">ссылка на GitHub</a></p>
    </section>

    <script src="../static/js/script.js"></script> 
</body>
</html>
